.container{
    height: 300px;
    background: yellow;
    display: flex;
    flex-direction: row;
     /* justify-content: space-around; */
    /* align-items: center; */
    align-content: space-around;
    /* flex-wrap: wrap; */
    align-items: b;
}

.items{
    flex: 1;
    border: 1px solid #333;
    background: red;
}

.items:nth-child(2){
    flex: 2;
}



