@import "./mixin";

.primary-heading {
  color: red;
  font-size: 18px;
}

.primary-heading-lv2 {
  @extend .primary-heading;
  padding: 18px;
}

.box {
  @include size(20px, 20px);
  background-color: red;
}
