* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
// variables grid systems
:root {
  --container-width: 1200px;
  --container-padding: 15px;
  --max-column: 12;
  --column-space: 20px;
  --column-number: 0;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}

.row.main-axit-center {
  justify-content: center;
}

.row.cross-axit-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row [class^="col-"] {
  --column-width: calc(100% / (var(--max-column) / var(--column-number)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  padding: 0 calc(var(--column-space) / 2);
}

.row.no-gutters [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/*
Quy ước: Triển khai theo Mobile First

.col-{number}: <576px
.col-sm-{number}: >=576px
.col-md-{number}: >=768px
.col-lg-{number}: >=992px
.col-xl-{number}: >=1200px
.col-xxl-{number}: >=1400px

*/

@mixin sizeItems($a) {
  @for $i from 0 through 12 {
    @if ($i == 0) {
      .#{$a}-#{$i} {
        display: none;
      }
    } @else {
      .#{$a}-#{$i} {
        --column-number: #{$i};
      }
    }
  }
}

@include sizeItems("col");

@media screen and (min-width: 576px) {
  @include sizeItems("col-sm");
}
@media screen and (min-width: 768px) {
  @include sizeItems("col-md");
}
@media screen and (min-width: 992px) {
  @include sizeItems("col-lg");
}

@media screen and (min-width: 1200px) {
  @include sizeItems("col-xl");
}
@media screen and (min-width: 1368px) {
  @include sizeItems("col-1368");
}
@media screen and (min-width: 1400px) {
  @include sizeItems("col-xxl");
}
