
.desc {
    max-width: 100px;
    border: 3px outset #333;
    border-left: 1px solid yellow;
    border-right: 2px solid red;
    border-top: 1px solod orange solid;
    border-top-color: aqua;
    border-top-style: dotted;
    border-top-width: 3px;
}

.desc:hover {
    border: hidden;
}

.container {
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: yellow;
    rotate: 180deg;
}

.container-bottom {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 0px;
    height: 0px;
    border: 80px solid yellow;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.heart {
    position: relative;
}

.content-box3,
.content-box4 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}

.content-box3 {
    top: 1px;
    right: 162px;
    ;
}
body{
    position: relative;
}

.text{
   position: absolute;
}

.desc  
{
    width: 350px;
    height: 350px;
    overflow: scroll;
}