@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}


html {
    font-size: 18px;
}

body {
    font-family: Roboto, sans-serif;
}

.text:first-child {
    color: red;
}

.text:nth-child(2) {
    color: rgba(42, 180, 150, 0.381)
}

.text:nth-child(3) {
    color: #ccc;
}

.text:nth-child(4) {
    color: hsl(255, 125, 255);
}

.content:hover {
    /* color deafalut  */
    color: initial;
}

/* .content p {
    text-decoration: inherit;
} */

.content {
    font-size: 1.3rem;
}

.content-box {
    font-size: 1.2em;
    background: #ccc;
}

.content-box p {
    /* font-family: t1; */
    font-size: 1.3rem;
    line-height: 1.25;
    /* font-weight: 800; */
    /* text-decoration:overline; */
    font-style: italic;
    letter-spacing: -2px;
    word-spacing: 5px;
    text-indent: 15px;
}

/* link font tai ve */
/* c1 */

.container
 {
    width: 500px;
    height: 500px;
    background:url(../imgs/jeremy-bishop-1ETQdWx9b-E-unsplash.jpg);
    background-size: 100%;
    
    /* background-repeat: no-repeat; */

}