*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.header {
    padding: 15px 0;
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    background-color: #fff;
}

.header .header-inner {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.header .menu ul li a {
    display: block;
    color: #333;
    text-decoration: none;
}