* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    counter-reset: section;
}


.container {
    width: 1135px;
    margin: 0 auto;
}

.line {
    position: relative;
}

.heading-lv2 {
    text-align: center;
}
.text-heading-lv2{
    color: red;
}

.line-1 {
    display: inline-block;
    position: absolute;
    top: 31px;
    left: 46%;
    width: 30px;
    height: 5px;
    background: red;
    border-radius: 3px;

}

.inner {
    position: relative;
    z-index: 2;
    text-align: justify;
}

.line-2 {
    display: inline-block;
    position: absolute;
    top: 31px;
    left: calc(50% - 10px);
    width: 25px;
    height: 5px;
    background: red;
    border-radius: 3px;

}

.line-3 {
    display: inline-block;
    position: absolute;
    top: 31px;
    left: calc(57% - 58px);
    width: 40px;
    height: 5px;
    background: red;
    border-radius: 3px;
}

.wrap {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.wrap__items {
    position: relative;
    flex: 1 0 calc(100% / 3 - 30px);
    padding: 60px 12px;
    background: #fff;
    box-shadow: -2px 2px 2px 3px #f3f1f1;
    border-radius: 15px;
}

img {
    top: -45px;
    left: 126px;
    position: absolute;
    width: 30%;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.wrap__items::before {
    counter-increment: section;
    content: "0" counter(section);
    position: absolute;
    top: 15%;
    right: 0;
    color: rgba(0, 0, 255, 0.153);
    font-size: 5.5rem;
}