* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.pots {
    display: flex;
    flex-wrap: wrap;
}

.pots .post-item {
    flex-basis: calc(100% / 3);
}